@charset "utf-8";
.straight {
    width: 960px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.blue {
    background: #0000ff;
    width: 300px;
    height: 300px;
}
.split {
    width: 960px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.red {
    background: red;
    width: 300px;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30 px;
}
